<h1>Détails</h1>
<div class="container">
  <div class="image"><img src="assets/images-models/{{currentModel.modelName}}.png" alt=""></div>
  <div class="details"><span class="label">Nom : </span>{{currentModel.name}}</div>
  <div class="details"><span class="label">Auteur : </span>{{currentModel.author}}</div>
  <div class="details"><span class="label">Date : </span>{{currentModel.date | date:"EEEE dd MMMM yyyy"}}</div>
  <div class="details"><span class="label">Nombre de polygones : </span>{{currentModel.polygons}}</div>
  <div class="details"><span class="label">Description : </span>{{currentModel.description}}</div>
</div>

<button mat-raised-button color="primary">Modifier</button>
<button mat-raised-button color="error">Supprimer</button>
